# Configuración de la aplicación
SECRET_KEY=cambiar-esto-por-una-clave-segura-en-produccion

# Configuración de la Base de Datos Oracle
ORACLE_USER=tu_usuario
ORACLE_PASSWORD=tu_contraseña
ORACLE_DSN=host:puerto/nombre_servicio
ORACLE_MIN=1
ORACLE_MAX=5

# Opcional (solo si corres en local en Windows sin Docker): Ruta de tu Oracle Instant Client 19c local
# ORACLE_CLIENT_PATH=C:\oracle\instantclient_19_19
